$Noto-Sans-TC: "Noto Sans TC", sans-serif;
$open-Sans: "open Sans", sans-serif;
$jumbotron-color: #333;
$botton-line-color: #c9c9c9;
$footer-p-color: rgb(92, 92, 92);
$icon-color: dimgrey;

.jumbotron {
    padding: 2rem 0rem;
    margin-bottom: 1rem;
}

section {
    #div01 {
        padding: 20px 20px 20px;
    }
    h5 {
        font-family: $Noto-Sans-TC;
        font-size: 18px;
    }
    #title {
        font-family: $Noto-Sans-TC;
        font-size: 20px;
        margin-bottom: 20px;
    }
    li {
        font-family: $open-Sans;
        font-size: 14px;
    }
    i {
        font-size: smaller;
        color: $icon-color;
    }
    img {
        width: 100%;
    }
    .container {
        margin-bottom: 19px;
    }
}

footer {
    border-top: solid 1px $botton-line-color;
    margin-top: 36px;
    img {
        width: 72px;
        float: left;
    }
    .lead {
        font-size: 15px;
    }
    .container {
        margin-top: 10px;
    }
    p {
        font-family: $open-Sans;
        font-size: 14px;
        color: $footer-p-color;
        margin-bottom: 0.5rem;
    }
    h5 {
        font-family: $Noto-Sans-TC;
        font-size: 18px;
    }
    ul {
        list-style: none;
        padding: 0;
        float: left;
        margin-right: 70px;
        li {
            margin-bottom: 7px;
            a {
                color: $footer-p-color;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    #links {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 574px) {
    #links {
        margin-top: 1px;
    }
}

@media only screen and (max-width: 991px) {
    footer {
        .lead {
            margin-top: 20px;
            margin-top: 8px;
        }
    }
    footer {
        ul {
            margin-bottom: 0;
        }
    }
    section{
        #div01{
            margin-bottom: 17px;
        }
    }
}
