body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#div01 {
  padding: 20px 20px 20px;
}
#div02 {
  padding: 20px 20px 20px;
}
#div03 {
  padding: 20px 20px 20px;
}
#div04 {
  padding: 20px 20px 20px;
}
#Login {
  float: right;
}

h5 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 18px;
}

#title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

i {
  font-size: smaller;
  color: dimgrey;
}

img {
  width: 100%;
}

.jumbotron {
  padding: 2rem 0rem;
  margin-bottom: 1rem;
}

#content .container {
  margin-bottom: 19px;
}

footer {
  border-top: solid 1px #c9c9c9;
  margin-top: 43px;
}

footer img {
  width: 72px;
  float: left;
}

footer .lead {
  font-size: 15px;
}

footer .container {
  margin-top: 10px;
}

footer p {
  font-family: "open Sans", sans-serif;
  font-size: 14px;
  color: rgb(92, 92, 92);
  margin-bottom: 0.5rem;
}

footer ul {
  list-style: none;
  padding: 0;
  float: left;
  margin-right: 70px;
}

footer ul li {
  margin-bottom: 7px;
}

footer ul li a {
  color: rgb(92, 92, 92);
}

@media only screen and (max-width: 767px) {
  #links {
    margin-top: 20px;
  }
}
