#container {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.MuiPaper-root{
    width: 270px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .MuiPaper-root{
        width: 470px;

    }
    #img{
        height:300px;
    }
}