$Noto-Sans-TC: "Noto Sans TC", sans-serif;
$Noto-Sans-HK: "Noto Sans HK", sans-serif;
$open-Sans: "open Sans", sans-serif;
$MuseoModerno: "MuseoModerno", cursive;
$Sofia: "Sofia", cursive;
$jumbotron-color: #333;
$botton-line-color: #c9c9c9;
$footer-p-color: rgb(92, 92, 92);
$icon-color: dimgrey;

footer {
    border-top: solid 1px $botton-line-color;
    margin-top: 25px;
    background-color: #f2f2f2;
    img {
        width: 72px;
        float: left;
    }
    .lead {
        font-size: 15px;
    }
    .container {
        margin-top: 10px;
    }
    p {
        font-family: $open-Sans;
        font-size: 14px;
        color: $footer-p-color;
        margin-bottom: 1px;
    }
    h5 {
        font-family: $Noto-Sans-TC;
        font-size: 18px;
    }
    ul {
        list-style: none;
        padding: 0;
        float: left;
        margin-right: 70px;
        li {
            margin-bottom: 7px;
            a {
                color: $footer-p-color;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    footer {
        .lead {
            margin-left: 72px;
        }
    }
}

@media only screen and (max-width: 767px) {
    #links {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 574px) {
    #links {
        margin-top: 1px;
    }
}

@media only screen and (max-width: 991px) {
    footer {
        .lead {
            margin-left: 72px;
            margin-top: 8px;
        }
    }
    footer {
        ul {
            margin-bottom: 0;
        }
    }
}
