$Noto-Sans-TC: "Noto Sans TC", sans-serif;
$Noto-Sans-HK: "Noto Sans HK", sans-serif;
$open-Sans: "open Sans", sans-serif;
$MuseoModerno: "MuseoModerno", cursive;
$Sofia: "Sofia", cursive;
$jumbotron-color: #333;
$botton-line-color: #c9c9c9;
$footer-p-color: rgb(92, 92, 92);
$icon-color: dimgrey;

#line{
    margin-top: 200px;
}

.MuiPaper-root{
    width: 270px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .MuiPaper-root{
        width: 470px;

    }
    #img{
        height:300px;
    }
}