$Sofia: "Sofia",
cursive;
.css-2b097c-container {
    margin-bottom: 39px;
}

.form-control {
    margin-bottom: 39px;
}

form {
    margin-top: 12px;
}

#nodata {
    padding: 250px 100px;
}

h3 {
    font-family: $Sofia;
}

i {
    margin-right: 5px;
}

#sbutton {
    margin-bottom: 39px;
}

#text{
    text-align: center;
}